@model VideoBurstWeb.Models.ChangeInitialPasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
    ViewBag.Heading = "Change Password";
}
 
@using (Html.BeginForm("ChangePassword", "Dashboard")) 
{
    @Html.AntiForgeryToken()
    <div class="col-sm-12 signupForm  single">        
        <div class="row"><h4 class=" signupsubhead text-left">Mandatory Change Password</h4>
            <div class="text-left">
                <form>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword, new { id = "txtPassword", placeholder = @Resources.ApplicationTranslations.Old_Password, @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { id = "txtNewPassword", placeholder = @Resources.ApplicationTranslations.New_Password, @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { id = "txtConfNewPassword", placeholder = @Resources.ApplicationTranslations.Confirm_New_Password, @class = "form-control" })
                    </div>
                    <p style="height: 5px !important;"></p>
                    <p>
                        <button type="submit" class="btn btn-lg btnRed btn-block">@Resources.ApplicationTranslations.Update_Password</button>
                    </p>
                </form>
            </div>
        </div>
    </div>

}
 
@section scripts {
    <script type="text/javascript"> 
 
    $(document).ready(function () {
         
            @if (@TempData.ContainsKey("alertmessage") && !String.IsNullOrEmpty(Convert.ToString(@TempData["alertmessage"])))
            {
               @Html.Raw("alertBox(\"" + @TempData["alertmessage"] + "\");")
            }
    });
    </script> 
}
 