@model IEnumerable<VideoBurstWeb.Models.CampaignStatsModel>

@{
    Layout = null;

    ViewBag.Title = "Campaign Detail";
    ViewBag.Heading = "Campaign Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = "~/Views/Shared/_LayoutGlossyBox.cshtml";
}
<style type="text/css">
    .close{
        color:white;
    }
</style>

<div class="col-sm-9 rightbarInner">
    <div class="row">
        <div style="text-align: left;"><h1>Campaign Stats</h1></div>
        <br />
        <br />
        <table class="table">
            <tr>
                <th align="center">
                    CampaignID
                </th>
                <th align="center">
                    Title
                </th>
                <th align="center">
                    Detail
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modelUserDetail" onclick="GetCampaignDetails1('@item.id');">Detail</a> 
                        @*@Html.ActionLink("Details", "GetData", new { id = item.companyid },
                            new { @class = "dialog" })*@

                        @*@Html.ActionLink("Details", "Details", new { id = item.companyid }) |*@

                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="modal fade" id="modelUserDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog popup-dialog" role="document">
        <div class="modal-content popupContent">
            <div class="modal-header popupHeader">
                <h4 class="whiteText"></h4>
            </div>
            <div class="modal-body popupBody">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CancelUserPopup()"><span aria-hidden="true">&times;</span></button>
                            <div class="form-horizontal">
                                <div>
                                    <h3>Campaign Details</h3>
                                </div>
                                <p>&nbsp;</p>

                                <div id="divcampaignstatsLists"></div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>




@section scriptsbottombody {
@Html.IncludeVersionedJs(@Url.Content("~/Scripts/CampaignDetails.js"))
}


