<footer class="footer footerhome">
    <div class="container">
        <ul class="list-inline">
            <li>@Html.ActionLink("My Videos", "Index", "Videos")</li>
            <li>@Html.ActionLink("Templates", "Index", "Templates")</li>
            <li>@Html.ActionLink("Settings", "Settings", "Account")</li>
            <li>@Html.ActionLink("Help", "Help", "Content")</li>                                      
            <li>@Html.ActionLink("Billing & Plans", "BillingPlans", "Account", null, new { href = "http://www.videoburst.com/#pricing", target = "_blank" })</li>                                      
        </ul>       
    </div>
</footer>

