@model VideoBurstWeb.Models.LoginSignupModel

@{
    ViewBag.Title = "VideoBurst - SignUp";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}
<div class="col-md-6 signupForm formHeight">

    <h3 class="text-left signupMargin signuptopMargin">
        Sign up for a Basic account.<br>
        No credit card required.
    </h3>
    <h4 class="text-left">Create professional looking videos in no time using your own pictures, texts and logo.</h4>

    @*<div class="borderLine"></div>

    <p style="margin-top:0; text-align:justify;" class="topMargin signupText1">Some of our templates are locked for basic accounts. To get access to all our templates you have to upgrade your account to a paid subscription (available through the upgrade option after login)</p>*@

</div>
@using (Html.BeginForm("SignUp", "Home", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-6 signupForm formHeight rightRounded">
        <h3 class="signupsubHead">Join VideoBurst</h3>
        <div class="form-group">
            <p class="inputsignup">
                @Html.TextBoxFor(m => m.name, new { id = "txtRegisterName", placeholder = @Resources.ApplicationTranslations.Register_Your_Name, @class = "form-control input-lg" })
            </p>
            <p class="inputsignup">
                @Html.TextBoxFor(m => m.email, new { id = "txtRegisterEmail", placeholder = @Resources.AuthenticationTranslations.EmailAddressLabel, @class = "form-control input-lg", data_validate_url = @Url.Action("IsUserRegistered") })
            </p>
            <p>
                @Html.PasswordFor(m => m.pwd, new { id = "txtRegisterPwd", placeholder = @Resources.AuthenticationTranslations.Register_PasswordLabel, @class = "form-control input-lg" })
            </p>
            <div class="row">
                <div class="col-sm-9 signupText">
                    @Resources.ApplicationTranslations.Joining_Agree_Text<br>
                    <a href="~/termsofservices.html" target="_blank">@Resources.ApplicationTranslations.TOS_Text</a> and <a href="~/privacy-policy.html" target="_blank">@Resources.ApplicationTranslations.PP_Text</a>
                </div>
                <div class="col-sm-3 rightFloat rightButton">
                    <button type="submit" class="btn btn-lg btnRed" id="btnCreateAcc">@Resources.AuthenticationTranslations.Register_CreateAccountText</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-left text-underline">  Already have an account? Sign in @Html.ActionLink("here", "Index", "Home", null, new { title = "Click here" })</p>
                </div>
            </div>
        </div>
    </div>
} 